# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
env/
venv/
.myenv/

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore CSV files
*.csv